<style>
    p {
        padding-bottom: 2rem;    
    }
    h1 {
        padding-bottom: 2rem;
        padding-top: 1rem;
        border-bottom: 1px solid grey;
    }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>FAQ</title>
</head>
<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
        <h1 class="text-center mt-2 mb-4">
            Frequently Asked Questions
        </h1>
        <h3 class="mb-2">
            Q: Are the Avengers responsible for any damage during their missions?
        </h3> 
        <p class="lead mt-0">
            A: Well, let's just say the Hulk has a tendency to redecorate the cityscape 
            whenever he gets a bit angry. But don't worry, Tony Stark's Stark Industries is always ready 
            to foot the bill for any collateral damage. And hey, it keeps construction workers employed!
        </p>
        <h3 class="mb-2">
            Q: Do I need to have superpowers to join the Avengers?
        </h3> 
        <p class="lead mt-0">
            A: While superpowers are definitely a plus, we also value skills like courage, determination, 
            and a knack for witty comebacks. Just remember, with great power comes... well, you know the rest.
        </p>
        <h3 class="mb-2">
            Q: Is there a safety protocol in place for employees working near Hulk's training area?
        </h3> 
        <p class="lead mt-0">
            A: Absolutely! Our safety team is well-prepared for any gamma-irradiated incidents that may occur. We've installed 
            reinforced walls, stocked up on extra-large bandages, and hired an on-call therapist for anyone who happens to witness 
            Hulk's temper tantrums up close.
        </p>
        <h3 class="mb-2">
            Q: How do I handle workplace disputes when one coworker can shrink to the size of an ant and the other can stretch like rubber?
        </h3> 
        <p class="lead mt-0">
            A: Ah, the classic clash of size versus stretchiness! Our HR department is well-versed in mediating disputes between coworkers with... 
            shall we say, unconventional abilities. Just remember, when in doubt, a friendly game of rock-paper-scissors usually does the trick.
        </p>
        <h3 class="mb-2">
            Q: What's the procedure for employees accidentally activating hidden traps in the Avengers Compound?
        </h3> 
        <p class="lead mt-0">
            A: Don't worry, it happens to the best of us! Our facilities team is on standby to assist with any accidental triggerings of hidden traps, 
            whether it's retractable spike pits or laser tripwires. And if all else fails, just remember to duck, dive, and dodge – agility is a valuable 
            skill in the world of the Avengers!
        </p>
        <h3 class="mb-2">
            Q: Is there a support group for employees who accidentally stumble upon classified Avengers projects?
        </h3> 
        <p class="lead mt-0">
            A: Absolutely! Our confidentiality team understands the importance of processing the shock of accidentally stumbling upon top-secret projects, 
            whether it's Tony Stark's latest suit upgrades or Bruce Banner's gamma radiation experiments gone awry. Just remember, what happens in the Avengers 
            facility, stays in the Avengers facility.
        </p>
    </div>

    {% include 'footer.html' %}
</body>
</html>