<style>
    footer {
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }

  footer nav{
    z-index: 998;
    background: var(--background-color);
    border-bottom: 1px solid lightgrey;
  }

  .copyright{
    margin-top: 1rem;
    text-align: center;
  }

</style>

<footer>
    <nav>
        <div class="nav-links-container">
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Jobs</a></li>
                <li><a href="#experience">FAQs</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>  
        </div>
    </nav>
    <p class="copyright">Copyright &#169; 2024 <a href="https://ryan-montoyo.netlify.app/" target="_blank">Ryan Montoyo</a>. All Rights Reserved.</p>
</footer>