<style>
    nav,
.nav-links {
  display: flex;
  align-items: center;
}


nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-around;
  height: 10vh;
  background: white;
  border-bottom: 1px solid grey;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  padding-top: 20px;
}

nav li:last-child{
    width: max-content;
    display: flex;
    margin: auto;
    padding: 10px;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  text-decoration-color: var(--primary-color);
}

a:hover {
  color: var(--button-text-hover);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--secondary-color);
  cursor: pointer;
}

nav a:hover {
    color: var(--secondary-color);
    text-decoration-color: var(--secondary-color);
  }

.logo {
    width: 100px;
    height: auto;
    max-height: 100%;
    margin-right: 80px;
}

.logo:hover {
  cursor: pointer;
}
</style>

<nav id="desktop-nav">
    <div >
        <a href="/">
            <img class="logo" src="/static/avengers.png" alt="avengers-logo">
        </a>
    </div>
    <div>
      <ul class="nav-links">
        <li><a href="/about">About</a></li>
        <li><a href="/">Jobs</a></li>
        <li><a href="/FAQ">FAQs</a></li>
      </ul>
    </div>
</nav>